.section_about_us_question {
  padding: 35px 0 100px;
  .container {
    position: relative;
  }
  .section_title{
    max-width: 65%;
    line-height: .8;
    padding-bottom: 65px;
  }
  .btn-square{
    padding: 81px 74px;
    top: 0;
    right: 0;
    @include media('<xl') {
      padding: 61px 54px;
    }
  }
}
