.section_about_us {
  padding: 10px 0;
  background-color: #edf8f6;
  position: relative;
  .container {
    padding-right: 150px;
    @include media("<xl") {
      padding-right: 100px;
    }
  }
  .container > * {
    @include flex;
  }
  .top {
    padding: 220px 0 68px;

    .left {
      position: relative;
      flex-shrink: 0;
      width: 505px;
      height: 505px;
      background-color: #adcbc6;
      @include media("<xl") {
        width: 250px;
        height: 250px;
      }
      img,
      p {
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);

        @include media("<xl") {
          bottom: 70px;
        }
      }
      img {
        max-width: 90%;
        @include media("<xl") {
          width: 70%;
        }
      }
      p {
        bottom: 87px;
        margin: 0;

        font-family: "Liana";
        font-weight: 400;
        font-size: 100px;
        color: #fff;

        @include media("<xl") {
          bottom: 40px;
          font-size: 50px;
        }
      }
    }
    .right {
      padding: 0 70px;

      @include media("<xl") {
        padding: 0 20px;
      }
    }
    .right .text {
      p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 27px;
        margin: 0;
        @include media("<xl") {
          font-size: 22px;
        }
        span {
          font-family: "DM Serif Text";
          font-size: 45px;
          @include media("<xl") {
            font-size: 35px;
          }
        }
      }
    }
    .right .list {
      padding-top: 90px;
      @include media("<xl") {
        padding-top: 30px;
      }
      li {
        @include flex;
        justify-content: space-between;
        position: relative;
        border-top: 1px solid #8fc2bc;
        &:last-child {
          border-bottom: 1px solid #8fc2bc;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          &:first-child {
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 20px;
            @include media("<xl") {
              font-size: 13px;
            }
          }
          @include media("<xl") {
            margin: 10px 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .bottom {
    justify-content: space-between;
    &-item {
      width: 48%;
      img {
        @include media("<xl") {
          max-width: 10%;
        }
      }
      p {
        font-size: 16px;
        @include media("<xl") {
          font-size: 10px;
        }
      }
    }
  }
  .btn-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 200px;
    width: 150px;
    height: 150px;
    background-color: #adcbc6;
    border: none;
    color: #fff;
    font-size: 20px;

    @include media("<xl") {
      width: 100px;
      height: 100px;
      font-size: 15px;
    }
  }
}
