.section_about_us {
  padding: 10px 0;
  background-color: #edf8f6;
  .container {
    position: relative;
    padding-right: 150px;
    @include media("<xl") {
      padding-right: 100px;
    }
  }
  .container > * {
    @include flex;
  }
  .top {
    padding: 220px 0 68px;
    @include media("<xl") {
      padding: 160px 0 40px;
    }

    .left {
      position: relative;
      flex-shrink: 0;
      width: 505px;
      height: 505px;
      background-color: #adcbc6;
      @include media('<xl') {
        width: 380px;
        height: 380px;
      }
      @include media("<ll") {
        width: 250px;
        height: 250px;
      }
      img,
      p {
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translateX(-50%);

        @include media("<xl") {
          bottom: 70px;
        }
      }
      img {
        max-width: 90%;
        @include media("<xl") {
          width: 70%;
        }
      }
      p {
        bottom: 87px;
        color: #fff;

        @include media("<xl") {
          bottom: 40px;
          font-size: 50px;
        }
      }
    }
    .right {
      padding: 0 70px;

      @include media("<xl") {
        padding: 0 20px;
      }
    }
    .right .text {
      font-family: "Gabriola";
      font-size: 35px;
      color: #013E37;
      line-height: 1;
      @include media("<xl") {
        font-size: 24px;
      }
      span {
        font-family: "DM Serif Text";
        font-size: 45px;
        @include media("<xl") {
          font-size: 30px;
        }
      }
    }
.component-list{
padding: 90px 20px 0 0;
@include media('<xl') {
  padding: 20px 5px 0 0;
}
}
  }
  .bottom {
    justify-content: space-between;
    &-item {
      width: 48%;
      display: flex;
      flex-direction: column;
      font-family: "Gabriola";
      font-size: 18px;
      color: #013e37;
      img {
        padding-bottom: 10px;
        max-width: 10%;
        @include media("<xl") {
          padding-bottom: 5px;
        }
      }
      span {
        @include media("<xl") {
          font-size: 14px;
        }
      }
    }
  }
}
