.hero {
  padding-top: 130px;
  position: relative;
  overflow-x: hidden;

  &_slide {
    @include flex-all-center;
    flex-direction: column;
  }

  .slide_text {
    @include flex-v-center;
    flex-direction: column;
    max-width: 943px;

    font-family: "DM Serif Text";
    font-style: normal;
    font-weight: 400;
    color: #013e37;

    h1,
    h3 {
      margin: 0;
    }

    h1 {
      font-size: 150px;
    }

    h3 {
      padding-bottom: 15px;

      font-size: 20px;
      line-height: 12px;
    }
  }

  .slide_shadowtext {
    position: absolute;
    left: 0;
    bottom: -7%;
    z-index: -1;

    img{
      max-width: none;
    }
  }
}

