.section_politics_hero {
  padding-bottom: 100px;
  height: 100vh;
  .section_title {
    padding-top: 50px;
    h2 {
      line-height: 0.8;
    }
  }
  .content {
    font-family: "Gabriola";
    font-size: 35px;
    color: #4f4c18;
    b {
      font-family: "DM Serif Text";
    }
  }
}
