.section_result {
  padding: 95px 0 70px;
  background-color: #edf8f6;
  .top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    padding-bottom: 300px;
  }
  .left {
    grid-column: 1 / 6;
    grid-row: 1;
    background-color: #adcbc6;
    width: 95%;
    max-height: 422px;
    position: relative;
    @include media("<xl") {
      max-height: 295px;
    }
    img,
    p {
      max-width: 90%;

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @include media("<xl") {
        max-width: 78%;
      }
    }
    img {
      top: 20%;
    }
    p {
      width: 100%;
      bottom: -228px;
      color: #013e37;
      @include media("<ll") {
        bottom: -154px;
      }
    }
  }
  .center {
    grid-column: 6 / 11;
    grid-row: 1;
    padding: 0 10px;

    .list {
      padding-top: 90px;
      @include media("<xl") {
        padding-top: 30px;
      }
      li {
        @include flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        position: relative;
        border-top: 1px solid #8fc2bc;
        &:last-child {
          border-bottom: 1px solid #8fc2bc;
        }
        @include media('<xl') {
          padding: 5px 0;
        }
      }
    }
  }
  .right {
    grid-column: 11 / -1;
    grid-row: 1;
    img {
      width: 100%;
      height: auto;
      padding-left: 20%;
    }
  }
  .bottom {
    padding-top: 100px;
    @include media('<xl') {
      padding-top: 50px;
    }
    .slider_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 545px;
      width: 267px;

      @include media("<xl") {
        width: 200px;
        height: 400px;
      }
      h5,
      p {
        color: #013e37;
      }
      p {
        text-align: left;
        margin-left: 10px;
        font-weight: 400;
        font-size: 16px;
        @include media('<xl') {
          font-size: 10px;
        }
      }
    }
  }
}
