.section_service {
  padding: 70px 0 30px;
  .content {
    display: flex;
    .section_title {
      width: 30%;
      h3 {
        margin-top: -20px;
        padding-bottom: 30px;
      }
      span {
        font-size: 18px;
      }
    }
  }
  .slider {
    width: 68%;
    margin-left: auto;
    justify-content: center;
    align-items: center;

    padding: 90px 0 30px;
    @include media("<xl") {
      padding: 63px 0 21px;
    }
    &-title {
      margin-bottom: auto;
    }
  }
}
