.swiper{
  .swiper-button::after {
    color: var(--accent-color);
    font-size: 24px;
  }
  .swiper-pagination-bullet{
    bottom: 0;
   &-active{
      background-color: var(--accent-color);
    }
  }
}
.swiper_stock{
height: 650px;
@include media('<xl') {
  height: 480px;
}
}

.swiper_service{
  height: 550px;
  @include media('<xl') {
    height: 450px;
  }
  .swiper-wrapper{
    padding-top: 50px;
  }
  .swiper-button::after {
    color:#200E32;
    font-size: 20px;
  }
  .swiper-button-prev,
  .swiper-button-next{
top: 4%;
@include media('<xl') {
  right: 2%;
}
@include media('<ll') {
  right: 7%;
}
  }
  .swiper-button-prev{
    left:90%;
    @include media('<ll') {
      left: 80%;
    }
  }
}
