.section_training_hero {
  padding: 50px 0;
  .table {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      flex-wrap: nowrap;
      &:first-child {
        background-color: rgba(0, 165, 148, 0.3);
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #1a716c;
        & .col {
          border: none;
        }
      }
    }
    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      color: #000;
      width: fit-content;
      text-align: center;
      border: 3px solid rgba(0, 165, 148, 0.3);
      &:nth-child(n - 2) {
        width: 9%;
      }
      &:nth-child(3) {
        width: 37%;
      }
      &:nth-child(n + 4) {
        width: 15%;
      }
    }
  }
}
