.section_write_us {
  background-color: #edf8f6;
  margin-top: -4px;
  height: initial;
  .ctr {
    display: flex;
  }
  .left {
    width: 50%;
    background-color: #adcbc6;
    .form {
      width: 90%;
      padding: 20% 0 25% 8%;
      display: flex;
      flex-direction: column;
      @include media("<xl") {
        padding: 15% 0 15% 8%;
      }
      .section_title {
        color: #fff;
        line-height: 0.8;
      }
      input {
        padding: 30px 0 6px;
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: none;
        box-shadow: none;
        font-size: 18px;
        color: #ffffff;
        @include media("<xl") {
          font-size: 12px;
        }
        &::placeholder {
          color: #fff;
        }
      }
      .form-message {
        padding-top: 66px;
        @include media("<xl") {
          padding-top: 50px;
        }
      }
      .btn {
        margin-top: 50px;
        margin-left: auto;
      }
    }
  }
  .right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 60%;
    }
    .kursiv {
      color: #013e37;
      position: absolute;
      top: 72%;
      left: 50%;
      transform: translateX(-50%);
      @include media("<ll") {
        top: 68%;
      }
    }
  }
}
