<div class="section_about_us_question">
  <div class="container">
    <h2 class="section_title title">Часто задоваемые вопросы</h2>
    <div class="question">
      <div class="question-item">
        <div class="item-header">
          <p class="quest fz20m">Вопрос</p>
          <button><img src="img/svg/plus.svg" alt="" /></button>
        </div>
      </div>
      <div class="question-item">
        <div class="item-header">
          <p class="quest fz20m">Вопрос</p>
          <button><img src="img/svg/minus.svg" alt="" /></button>
        </div>
        <p class="answer">
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом
          видеОтвет в раскрытом видеОтвет в раскрытом виде
        </p>
      </div>
    </div>
    <a href="#" class="btn-info">О нас</a>
  </div>
</div>
