<div class="section_about_us_question">
  <div class="container">
    <h2 class="section_title title">Часто задоваемые вопросы</h2>
    <ul class="accordion" data-accordion="open">
      <li>
        <div class="accordion-header">
          <p>Вопрос</p>
        </div>
        <div class="accordion-body">
          <p>
            Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
            Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
            Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом
            видеОтвет в раскрытом видеОтвет в раскрытом виде
          </p>
        </div>
      </li>
    </ul>
  </div>
  <a href="#" class="btn-info">Все</a>
</div>
