<div class="section_about_us">
  <div class="container">
    <div class="top">
      <div class="left">
        <img loading="lazy" src="img/info.jpg" />
        <p class="kursiv">О нас</p>
      </div>
      <div class="right">
        <div class="text">
          Компания <span>Skin Recovery</span> основана с 2019 года, мы молодая и
          довольно успешная компания, наша цель помогать женщинам быть красивыми
          с любом возрасте, потому что вы этого заслуживаете!
        </div>
        <ul class="component-list">
          <li>
            <b>МЫ</b>
            <span>заботимся о каждом клиенте</span>
          </li>
          <li>
            <b>У нас</b>
            <span>лучшие специалисты</span>
          </li>
          <li>
            <b>Вы</b>
            <span>всегда будешь самой красивой</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-item">
        <img loading="lazy" src="img/svg/info_ico.svg" />
        <span>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </span>
      </div>
      <div class="bottom-item">
        <img loading="lazy" src="img/svg/info_ico.svg" />
        <span>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </span>
      </div>
    </div>
    <a href="#" class="btn-square">О нас</a>
  </div>
</div>
