<div class="section_about_us_zagolovok">
  <div class="container">
    <div class="content">
      <div class="content-header">
        <h2 class="section_title title">Заголовок</h2>
        <p>
          Компания <span>Beautybody-bb</span> основана с 2019 года, мы молодая и
          довольно успешная компания, наша цель помогать женщинам быть красивыми
          с любом возрасте, потому что вы этого заслуживаете!
        </p>
      </div>
      <div class="content-bottom">
        <div class="bottom-item">
          <img loading="lazy" src="img/svg/info_ico.svg" />
          <p>
            Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
            быть бок о бок с вашим величеством каждый день,
          </p>
        </div>
        <div class="bottom-item">
          <img loading="lazy" src="img/svg/info_ico.svg" />
          <p>
            Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
            быть бок о бок с вашим величеством каждый день,
          </p>
        </div>
        <div class="bottom-item">
          <img loading="lazy" src="img/svg/info_ico.svg" />
          <p>
            Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
            быть бок о бок с вашим величеством каждый день, лучшего.
          </p>
        </div>
        <div class="bottom-item">
          <img loading="lazy" src="img/svg/info_ico.svg" />
          <p>
            Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
            быть бок о бок с вашим величеством каждый день, лучшего.
          </p>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="img/zagolovok.jpg" alt="" />
    </div>
  </div>
</div>
