<div class="section_about_us_hero">
  <div class="container">
    <div class="content">
      <div class="content-header">
        <img src="img/info.jpg" alt="" />
        <p class="kursiv">О нас</p>
      </div>

      <div class="text">
        <p>
          Компания Beautybody-bb основана с 2019 года, мы молодая и довольно
          успешная компания, наша цель помогать женщинам быть красивыми с любом
          возрасте, потому что вы этого заслуживаете!
        </p>
        <p>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </p>
        <p>
          Ведь красота - это оружие, поэтому хорошо вооружитесь перед тем, как
          отправиться в бой! Мы верим в то, что мы должны научиться тому, что
          ухоженная кожа может достичь того, чего вы даже представить себе не
          могли. Сегодня твой день
        </p>
      </div>
    </div>
      <div class="image">
        <img src="img/about_us_hero.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
