<div class="section_about_us">
  <div class="container">
    <div class="top">
      <div class="left">
        <img loading="lazy" src="img/info.jpg" />
        <p>О нас</p>
      </div>
      <div class="right">
        <div class="text">
          <p>
            Компания <span>Skin Recovery</span> основана с 2019 года, мы молодая
            и довольно успешная компания, наша цель помогать женщинам быть
            красивыми с любом возрасте, потому что вы этого заслуживаете!
          </p>
        </div>
        <ul class="list">
          <li>
            <p>МЫ</p>
            <p>заботимся о каждом клиенте</p>
          </li>
          <li>
            <p>У нас</p>
            <p>лучшие специалисты</p>
          </li>
          <li>
            <p>Вы</p>
            <p>всегда будешь самой красивой</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-item">
        <img loading="lazy" src="img/svg/info_ico.svg" />
        <p>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </p>
      </div>
      <div class="bottom-item">
        <img loading="lazy" src="img/svg/info_ico.svg" />
        <p>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </p>
      </div>
    </div>
    <a href="#" class="btn-info">О нас</a>
  </div>
</div>
