<div class="section_card_hero">
  <div class="container">
    <span class="path">
      <span><a href="index.html">Домой</a></span>
      <span> > </span>
      <span>Название товара</span>
    </span>
    <div class="card_content">
      <div class="slider"></div>
      <div class="info">
        <div class="info_title">
          <h2>Масло для кожи</h2>
          <h3>от 1.600 руб</h3>
        </div>
        <div class="info_characteristic">
          <div class="volume">
            <span>Обьем</span>
            <ul>
              <li>
                <button>05</button>
              </li>
              <li>
                <button>06</button>
              </li>
              <li>
                <button>08</button>
              </li>
            </ul>
          </div>
          <div class="quantity">
            <div class="counter">
              <button class="counter--minus">
                <span>-</span>
              </button>
              <input type="number" />
              <button class="counter--plus">
                <span> + </span>
              </button>
            </div>
            <a class="btn" href="#">Добавить в корзину</a>
            <span>Артикул: 000000</span>
          </div>
          <ul class="accordion no-mult" id="accordion">
            <li>
              <button class="accordion-head">Вопрос</button>
              <div class="accordion-body">
                Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом
                виде Ответ в раскрытом виде Ответ в раскрытом виде Ответ в
                раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
                Ответ в раскрытом видеОтвет в раскрытом видеОтвет в раскрытом
                виде
              </div>
            </li>
            <li>
              <button class="accordion-head">Вопрос</button>
              <div class="accordion-body">Ответ в раскрытом</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
