<div class="section_contacs_hero">
  <div class="ctr">
    <div class="image_blok">
      <img src="img/contacts.jpg" alt="" />
      <span class="kursiv">Контакты</span>
    </div>
    <div class="form_blok">
      <div class="adress">
        <span>E-mail <b>EmaiEmaiEmai@mail.ru</b></span>
        <span
          >Тел <a href="tel:+74955555555"><b>+7(495)555-55-55</b></a></span
        >
        <span> Адресс <b>г. Москва ул. Дмитровская д.12</b></span>
        <span>Салон коррекции и ухода за фигурой</span>
      </div>
      <form class="form" action="/">
        <div class="section_title">
          <h2>Напишите нам</h2>
        </div>
        <input type="text" placeholder="Имя" />
        <input type="email" placeholder="E-mail" />
        <input type="tel" placeholder="+7 (___)__ - __ - __" />
        <input class="form-message" type="text" placeholder="Сообщение" />
        <a class="btn" type="submit">Отправить</a>
      </form>
    </div>
  </div>
</div>
