<div class="section_distribution_hero">
  <div class="container">
    <span class="path">
      <span><a href="index.html">Каталог</a></span>
      <span> > </span>
      <span>Название товара</span>
    </span>
  </div>
  <div class="distribution_map"></div>
  <div class="container">
    <div class="select_map no-mult">
      <button class="btn-map">
        <span>Город</span>
      </button>
      <ul class="btn-map-body">
        <li><a href="">Москва</a></li>
        <li><a href="">Москва</a></li>
        <li><a href="">Москва</a></li>
        <li><a href="">Москва</a></li>
        <li><a href="">Москва</a></li>
      </ul>
    </div>
  </div>
</div>
