<div class="section_distribution_content">
  <div class="container">
    <div class="text_blok">
      <span>
        Компания <b>Beautybody-bb</b> основана с 2019 года, мы молодая и
        довольно успешная компания, наша цель помогать женщинам быть красивыми с
        любом возрасте, потому что вы этого заслуживаете!
      </span>
      <span>
        Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
        быть бок о бок с вашим величеством каждый день, в дневное время, когда
        светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
        самого лучшего.
      </span>
      <span>
        Ведь красота - это оружие, поэтому хорошо вооружитесь перед тем, как
        отправиться в бой! Мы верим в то, что мы должны научиться тому, что
        ухоженная кожа может достичь того, чего вы даже представить себе не
        могли. Сегодня твой день
      </span>
    </div>
    <div class="image_blok">
      <div class="image-item">
        <img src="img/distribution_item.jpg" alt="" />
      </div>
      <div class="image-item">
        <img src="img/distribution_item.jpg" alt="" />
      </div>
      <div class="image-item">
        <img src="img/distribution_item.jpg" alt="" />
      </div>
      <div class="image-item">
        <img src="img/distribution_item.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
