<div class="section_distribution_form">
  <div class="container">
    <div class="section_title">
      <h2>Cтать дистрибьютором</h2>
    </div>
    <form class="form" action="/">
      <input type="text" placeholder="Имя" />
      <input type="email" placeholder="E-mail" />
      <input type="tel" placeholder="Тел" />
      <input type="text" placeholder="Город" />
      <input class="form-message" type="text" placeholder="Сообщение" />
      <a class="btn-distribution-form" type="submit">Отправить</a>
    </form>
  </div>
</div>
