<div class="section_faq_hero">
  <div class="container">
    <div class="section_title">
      <h2>Часто задаваемые вопросы</h2>
    </div>
    <ul class="accordion no-mult" id="accordion">
      <li>
        <button class="accordion-head">Вопрос</button>
        <div class="accordion-body">
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом
          видеОтвет в раскрытом видеОтвет в раскрытом виде
        </div>
      </li>
      <li>
        <button class="accordion-head">Вопрос</button>
        <div class="accordion-body">
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом виде
          Ответ в раскрытом виде Ответ в раскрытом виде Ответ в раскрытом
          видеОтвет в раскрытом видеОтвет в раскрытом виде
        </div>
      </li>
    </ul>
  </div>
</div>
