<footer class="footer">
  <div class="container">
    <div class="brand">
      <h5>Салон коррекции и ухода за фигурой</h5>
      <h3>Skin Recovery</h3>
      <p>© 2021 Все права защищены</p>
    </div>
    <div class="footer-menu">
      <div class="menu-left">
        <ul class="menu">
          <li class="menu-item">
            <a href="#">Меню</a>
          </li>
          <li class="menu-item">
            <a href="#">Главная</a>
          </li>
          <li class="menu-item">
            <a href="#">О нас</a>
          </li>
          <li class="menu-item">
            <a href="#">Услуги</a>
          </li>
          <li class="menu-item">
            <a href="#">Магазин</a>
          </li>
          <li class="menu-item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="menu-mid">
        <ul class="menu">
          <li class="menu-item">
            <a href="#">Помощь</a>
          </li>
          <li class="menu-item">
            <a href="#">Задать вопрос</a>
          </li>
          <li class="menu-item">
            <a href="#">Оплата</a>
          </li>
          <li class="menu-item">
            <a href="#">Доставка</a>
          </li>
          <li class="menu-item">
            <a href="#">Оферта</a>
          </li>
          <li class="menu-item">
            <a href="#">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>
      <div class="menu-right">
        <ul class="menu">
          <li class="menu-item">
            <a href="#">Контакты</a>
          </li>
          <li class="menu-item">
            <a href="tel:+79295418868">+ 7 (929) 541 - 88 - 68</a>
          </li>
          <li class="menu-item">
            <a href="mailto:info@mail.ru">info@mail.ru</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
