<div class="hero">
  <div class="slide_shadowtext">
    <img loading="lazy" src="img/svg/shadow_text.svg" />
  </div>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero_slide">
            <div class="slide_text">
              <h1>Skin Recovery</h1>
              <h3>Салон коррекции и ухода за фигурой</h3>
            </div>
            <div class="slide_image">
              <img
                loading="lazy"
                src="img/svg/intro.svg"
                class="image"
                width="688"
                height="371"
              />
            </div>
            <button class="slide_btn">
              <a href="">Подробнее</a>
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero_slide">
            <div class="slide_text">
              <h1>Skin Recovery</h1>
              <h3>Салон коррекции и ухода за фигурой</h3>
            </div>
            <div class="slide_image">
              <img
                loading="lazy"
                src="img/svg/intro.svg"
                class="image"
                width="688"
                height="371"
              />
            </div>
            <button class="slide_btn">
              <a href="">Подробнее</a>
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
    </div>
  </div>
</div>
