<div class="section_product_item_mass_media">
  <div class="container">
    <div class="section_title">
      <h2>СМИ о нас</h2>
    </div>
    <div class="swiper swiper_service2">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider_content">
          <div class="slider_image">
            <img loading="lazy" src="img/service_1.jpg" />
          </div>
          <div class="slider-title">Против пигментации</div>
          <a href="#" class="btn-product">Подробнее</a>
        </div>
        <div class="swiper-slide slider_content">
          <div class="slider_image">
            <img loading="lazy" src="img/service_2.jpg" />
          </div>
          <div class="slider-title">Против пигментации</div>
          <a href="#" class="btn-product">Подробнее</a>
        </div>
        <div class="swiper-slide slider_content">
          <div class="slider_image">
            <img loading="lazy" src="img/service_3.jpg" />
          </div>
          <div class="slider-title">Против пигментации</div>
          <a href="#" class="btn-product">Подробнее</a>
        </div>
        <div class="swiper-slide slider_content">
          <div class="slider_image">
            <img loading="lazy" src="img/service_3.jpg" />
          </div>
          <div class="slider-title">Против пигментации</div>
          <a href="#" class="btn-product">Подробнее</a>
        </div>
        <div class="swiper-slide slider_content">
          <div class="slider_image">
            <img loading="lazy" src="img/service_3.jpg" />
          </div>
          <div class="slider-title">Против пигментации</div>
          <a href="#" class="btn-product">Подробнее</a>
        </div>
      </div>
      <div class="swiper-button-prev swiper-button service-prev"></div>
      <div class="swiper-button-next swiper-button service-next"></div>
    </div>
  </div>
</div>
