<div class="section_service">
  <div class="container">
    <div class="content">
      <div class="section_title">
        <h2>Пилинги</h2>
        <h3><span>aesthetical</span>(Италия)</h3>
        <span>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </span>
      </div>
      <div class="slider">
        <div class="swiper swiper_service">
          <div class="swiper-wrapper">
            <div class="swiper-slide slider_content">
              <div class="slider_image">
                <img loading="lazy" src="img/service_1.jpg" />
              </div>
              <div class="slider-title">Против пигментации</div>
              <a href="#" class="btn">Подробнее</a>
            </div>
            <div class="swiper-slide slider_content">
              <div class="slider_image">
                <img loading="lazy" src="img/service_2.jpg" />
              </div>
              <div class="slider-title">Против пигментации</div>
              <a href="#" class="btn">Подробнее</a>
            </div>
            <div class="swiper-slide slider_content">
              <img loading="lazy" src="img/service_3.jpg" />
              <div class="slider-title">Против пигментации</div>
              <a href="#" class="btn">Подробнее</a>
            </div>
          </div>
          <div class="swiper-button-prev swiper-button service-prev"></div>
          <div class="swiper-button-next swiper-button service-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
