<div class="section_service">
  <div class="container">
    <div class="content">
      <div class="left">
        <h2 class="section_title service_title">Пилинги</h2>
        <h5><span>aesthetical</span>(Италия)</h5>
        <p>
          Мы всегда верим в силу женской красоты, поэтому мы создали ее, чтобы
          быть бок о бок с вашим величеством каждый день, в дневное время, когда
          светит солнце, или во времена тьмы. Вы всегда заслуживаете для себя
          самого лучшего.
        </p>
      </div>
      <div class="right">
        <div class="swiper swiper_service">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider_content">
                <img loading="lazy" src="img/service_1.jpg" />
                <h5>Против пигментации</h5>
                <a href="#" class="btn btn-stock">Подробнее</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider_content">
                <img loading="lazy" src="img/service_2.jpg" />
                <h5>Против пигментации</h5>
                <a href="#" class="btn btn-stock">Подробнее</a>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider_content">
                <img loading="lazy" src="img/service_3.jpg" />
                <h5>Против пигментации</h5>
                <a href="#" class="btn btn-stock">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev swiper-button service-prev"></div>
          <div class="swiper-button-next swiper-button service-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
