<div class="section_training_hero">
  <div class="container">
    <!-- <table>
      <tr>
        <th>Дата</th>
        <th>Формат</th>
        <th>Курс</th>
        <th>Тренер</th>
        <th>Условия</th>
        <th>Запись</th>
      </tr>
      <tr>
        <td><time datetime="2023-4-4">4 aпреля</time></td>
        <td>Семинар</td>
        <td><a href="#">Пилинги Aesthetical + практические лайфхаки</a></td>
        <td>Аганина Валерия Андреевна</td>
        <td>Бесплатно</td>
        <td><a class="btn-training" href="#">Записаться</a></td>
      </tr>
      <tr>
        <td><time datetime="2023-4-4">4 aпреля</time></td>
        <td>Семинар</td>
        <td>
          <a href="#"
            >Эпоха регенеративной косметологии.Коллагениндуцированная терапия
            дермы.Актуальные техники работы с коллагеном.</a
          >
        </td>
        <td>Попова Дарья Александровна</td>
        <td>Закупка 1 флакона Linerase</td>
        <td><a class="btn-training" href="#">Записаться</a></td>
      </tr>
      <tr>
        <td><time datetime="2023-4-5">5 aпреля</time></td>
        <td>Семинар</td>
        <td><a href="#">Карбокситерапия в эстетике лица и тела</a></td>
        <td>Старкова Елена Юрьевна</td>
        <td>Бесплатно</td>
        <td><a class="btn-training" href="#">Записаться</a></td>
      </tr>
      <tr>
        <td>4 апреля</td>
        <td>Семинар</td>
        <td>
          <a href="#"
            >Всероссийская онлайн трансляция по применению всесезонных
            химических пилингов.</a
          >
        </td>
        <td>Оганесян Карина Кареновна, Аганина Валерия Андреевна</td>
        <td>850 рублей</td>
        <td><a class="btn-training" href="#">Записаться</a></td>
      </tr>
      <tr>
        <td>4 апреля</td>
        <td>Семинар</td>
        <td>
          <a href="#"
            >Комплексные протоколы коррекции сложной гиперпигментации: пилинги
            AESTHETICAL, как монотерапия и в сочетании с аппаратными и
            инъекционными методиками</a
          >
        </td>
        <td>Иванова Елена Маратовна</td>
        <td>Бесплатно</td>
        <td><a class="btn-training" href="#">Записаться</a></td>
      </tr>
    </table> -->
    <div class="table">
      <div class="row">
        <div class="col">Дата</div>
        <div class="col">Формат</div>
        <div class="col">Курс</div>
        <div class="col">Тренер</div>
        <div class="col">Условия</div>
        <div class="col">Запись</div>
      </div>
      <div class="row">
        <div class="col"><time datetime="2023-4-4">4 aпреля</time></div>
        <div class="col">Семинар</div>
        <div class="col">
          <a href="#">Пилинги Aesthetical + практические лайфхаки</a>
        </div>
        <div class="col">Аганина Валерия Андреевна</div>
        <div class="col">Бесплатно</div>
        <div class="col"><a class="btn-training" href="#">Записаться</a></div>
      </div>
      <div class="row">
        <div class="col"><time datetime="2023-4-4">4 aпреля</time></div>
        <div class="col">Семинар</div>
        <div class="col">
          <a href="#"
            >Эпоха регенеративной косметологии.Коллагениндуцированная терапия
            дермы.Актуальные техники работы с коллагеном.</a
          >
        </div>
        <div class="col">Попова Дарья Александровна</div>
        <div class="col">Бесплатно</div>
        <div class="col"><a class="btn-training" href="#">Записаться</a></div>
      </div>
      <div class="row">
        <div class="col"><time datetime="2023-4-4">4 aпреля</time></div>
        <div class="col">Семинар</div>
        <div class="col">
          <a href="#"
            >Эпоха регенеративной косметологии.Коллагениндуцированная терапия
            дермы.Актуальные техники работы с коллагеном.</a
          >
        </div>
        <div class="col">Попова Дарья Александровна</div>
        <div class="col">Бесплатно</div>
        <div class="col"><a class="btn-training" href="#">Записаться</a></div>
      </div>
      <div class="row">
        <div class="col"><time datetime="2023-4-4">4 aпреля</time></div>
        <div class="col">Семинар</div>
        <div class="col">
          <a href="#"
            >Эпоха регенеративной косметологии.Коллагениндуцированная терапия
            дермы.Актуальные техники работы с коллагеном.</a
          >
        </div>
        <div class="col">Попова Дарья Александровна</div>
        <div class="col">Бесплатно</div>
        <div class="col"><a class="btn-training" href="#">Записаться</a></div>
      </div>
      <div class="row">
        <div class="col"><time datetime="2023-4-4">4 aпреля</time></div>
        <div class="col">Семинар</div>
        <div class="col">
          <a href="#"
            >Эпоха регенеративной косметологии.Коллагениндуцированная терапия
            дермы.Актуальные техники работы с коллагеном.</a
          >
        </div>
        <div class="col">Попова Дарья Александровна</div>
        <div class="col">Бесплатно</div>
        <div class="col"><a class="btn-training" href="#">Записаться</a></div>
      </div>
    </div>
  </div>
</div>
