<div class="section_video_page_hero">
  <div class="container">
    <div class="section_title">
      <h2>Видео</h2>
    </div>
    <div class="videos">
      <div class="dv-container no-controls">
        <video
          class="def"
          tabindex="0"
          preload="metadata"
          poster="img/preview.png"
        >
          <source
            src="https://static.videezy.com/system/resources/previews/000/001/770/original/Pigeons_in_Love.mp4"
            type="video/mp4"
          />
        </video>
        <span>Вопрос</span>
        <span>Ответ в раскрытом виде Ответ в </span>
      </div>
      <div class="dv-container no-controls">
        <video
          class="def"
          tabindex="0"
          preload="metadata"
          poster="img/preview.png"
        >
          <source
            src="https://static.videezy.com/system/resources/previews/000/001/770/original/Pigeons_in_Love.mp4"
            type="video/mp4"
          />
        </video>
        <span>Вопрос</span>
        <span>Ответ в раскрытом виде Ответ в </span>
      </div>
      <div class="dv-container no-controls">
        <video
          class="def"
          tabindex="0"
          preload="metadata"
          poster="img/preview.png"
        >
          <source
            src="https://static.videezy.com/system/resources/previews/000/001/770/original/Pigeons_in_Love.mp4"
            type="video/mp4"
          />
        </video>
        <span>Вопрос</span>
        <span>Ответ в раскрытом виде Ответ в </span>
      </div>
      <div class="dv-container no-controls">
        <video
          class="def"
          tabindex="0"
          preload="metadata"
          poster="img/preview.png"
        >
          <source
            src="https://static.videezy.com/system/resources/previews/000/001/770/original/Pigeons_in_Love.mp4"
            type="video/mp4"
          />
        </video>
        <span>Вопрос</span>
        <span>Ответ в раскрытом виде Ответ в </span>
      </div>
    </div>
  </div>
</div>
