<div class="section_write_us">
  <div class="ctr">
    <div class="left">
      <form class="form" action="/">
        <div class="section_title">
          <h2>Напишите нам</h2>
        </div>
        <input type="text" placeholder="Имя" />
        <input type="email" placeholder="E-mail" />
        <input type="tel" placeholder="+7 (___)__ - __ - __" />
        <input class="form-message" type="text" placeholder="Сообщение" />
        <a class="btn" type="submit">Отправить</a>
      </form>
    </div>
    <div class="right">
      <img src="img/write_us.jpg" alt="" />
      <div class="kursiv">Спасибо</div>
    </div>
  </div>
</div>
