<div class="section_write_us">
  <div class="ctr">
    <div class="left">
      <form class="form" action="/">
        <h3 class="section_title">Напишите нам</h3>
        <input type="text" placeholder="Имя" />
        <input type="email" placeholder="E-mail" />
        <input type="tel" placeholder="+7 (___)__ - __ - __" />
        <input class="form-message" type="text" placeholder="Сообщение" />
        <button class="btn" type="submit">Отправить</button>
      </form>
    </div>
    <div class="right">
      <img src="img/write_us.jpg" alt="" />
      <p class="kursiv">Спасибо</p>
    </div>
  </div>
</div>
